<!DOCTYPE html>
<html lang="en">
<head>
	<title>AntParlor - Online Discovery of Stylists &amp; Beauty Professionals</title>
	<link rel="shortcut icon" type="image/x-icon" href="ban.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Stylesheet for fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Responsive website by Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- External stylesheet and JavaScript -->
	<link rel="stylesheet" href="index.css">
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.208.0.min.js"></script>

	<!-- Angular  -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	<!-- Google API -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJjKdJJ6WLeSrQqI0cHadAfuvL9rZ5Hr4&sensor=false" type="text/javascript"></script>

</head>

<body>
	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbarcontainer container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AntParlor</a>
			</div> <!-- close navbar header div -->

			<div class="collapse navbar-collapse" id="fake-nav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#register" v-on:click="open('register', $event)">Register</a></li>
					<li><a href="#login" v-on:click="open('login', $event)">Login</a></li>
					<li><a href="contact.html" id="clickedContact">Contact</a></li>
				</ul>
			</div>
		</div> 
	</nav> 

	<!-- Sign up Section -->
	<div class="user-modal-container" id="login-modal" v-on:click="close">
		<div class="user-modal">
			<!-- Form Switching -->
			<ul class="form-switcher">  
				<li v-on:click="flip('register', $event)"><a href="" id="register-form">Register</a></li>
				<li v-on:click="flip('login', $event)"><a href="" id="login-form">Login</a></li>
			</ul>  

			<!-- Form Register Fields -->
			<div class="form-register" id="form-register">
			    <div class="error-message" v-text="registerError"></div>  
				<input type="text" name="name" placeholder="Name" v-model="registerName" v-on:keyup.enter="submit('register', $event) | key 'enter'">  
				<input type="email" name="email" placeholder="Email" v-model="registerEmail" v-on:keyup.enter="submit('register', $event) | key 'enter'">  
				<input type="password" name="password" placeholder="Password" v-model="registerPassword" v-on:keyup.enter="submit('register', $event) | key 'enter'">  
				<input type="submit" v-on:click="submit('register', $event)" v-model="registerSubmit" id="registerSubmit">  
				<div class="links">  
					<a href="" v-on:click="flip('login', $event)">Already have an account?</a>
				</div>  
			</div>

			<!-- Form Register Fields -->
		    <div class="form-login" id="form-login">
		    	<div class="error-message" v-text="loginError"></div>  
				<input type="text" name="user" placeholder="Email or Username" v-model="loginUser" v-on:keyup.enter="submit('login', $event) | key 'enter'" id='loginEmail'required>  
				<input type="password" name="password" placeholder="Password" v-model="loginPassword" v-on:keyup.enter="submit('login', $event) | key 'enter'" id='loginPw' required>  
				<input type="submit" v-model="loginSubmit"  id="loginSubmit">  
				<div class="links">  
					<a href="" v-on:click="flip('password', $event)">Forgot your password?</a>
				</div>  
		    </div>
		    
		    <!-- Form Password Fields -->
		    <div class="form-password" id="form-password">
		    	<div class="error-message" v-text="passwordError"></div>  
				<input type="text" name="email" placeholder="Email" v-model="passwordEmail" v-on:keyup.enter="submit('password', $event) | key 'enter'">  
				<input type="submit" v-on:click="submit('password', $event)" v-model="passwordSubmit" id="passwordSubmit">  
		    </div>   	
		</div>  
	</div> 

	<!-- Searchbar Section -->
	<header class="searchbar-section" id="searchbar">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12">
					<h1 id="caption">Discover & book beauty and barber appointments.</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="search-form-and-button page-link">
						<form action="search.html" method="GET">
							<span class="fa fa-search"></span> 
							<input type="text" name="searchTerm" placeholder="Haircut, salon name, stylist name" class="search-form" method="GET"/>
							<button title="Search" ng-click="search(searchComponentIdentifier, $event)" class="search-button">Search</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
					
					<button class="priceRecButton" onclick="testPriceFunc('$')">$</button>
					<button class="priceRecButton" onclick="testPriceFunc('$$')">$$</button>
					<button class="priceRecButton" onclick="testPriceFunc('$$$')">$$$</button>
					<button class="priceRecButton" onclick="switchType('amateur')">Amateur</button>
					<button class="priceRecButton" onclick="switchType('professional')">Professional</button>	
			</div>
		</div>
	</header> 

	<!-- Recommendation Page -->
	<header class="recommendation-section" id="recommendation">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12">
					<h1>Popular Recommendations</h1>
				</div>
			</div>
			<div class="row"> 
				<div class="col-sm-12">
					<div class="outerContainer" id="popRec">
						<div class="samplePics">
							<img src="img/hairSamp.jpg">
							<p class="recLabel">{{ one }}</p>
						</div>
						<div class="samplePics">
							<img src="img/hairSamp.jpg">
							<p class="recLabel">{{ two }}</p>
						</div>
						<div class="samplePics">
							<img src="img/hairSamp.jpg">
							<p class="recLabel">{{ three }}</p>
						</div>
						<div class="samplePics">
							<img src="img/hairSamp.jpg">
							<p class="recLabel">{{ four }}</p>
						</div>
						<div class="samplePics">
							<img src="img/hairSamp.jpg">
							<p class="recLabel">{{ five }}</p>
						</div>
					<div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h1>Top Category Recommendations</h1>
			</div>
		</div>
		<div class="row"> 
			<div class="col-sm-12">
				<div class="outerContainer" id="closestAvail">
					<div class="samplePics">
						<img src="img/hairSamp.jpg">
						<p class="recLabel">{{ Barber }}</p>
					</div>
					<div class="samplePics">
						<img src="img/nailSamp.jpg">
						<p class="recLabel">{{ Nails }}</p>
					</div>
					<div class="samplePics">
						<img src="img/threadingSamp.jpg">
						<p class="recLabel">{{ Threading }}</p>
					</div>
					<div class="samplePics">
						<img src="img/makeupSamp.png">
						<p class="recLabel">{{ Makeup }}</p>
					</div>
				<div>
			</div>
		</div>
	</header>






</body>

<!-- JavaScript / Vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="signup.js"></script>
<script src="index.js"></script>

<!-- Facebook  -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '527924507594555',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.12'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

</html>