<!DOCTYPE html>
<html lang="en">
<head>
	<title>AntParlor - Online Discovery of Stylists &amp; Beauty Professionals</title>
	<link rel="shortcut icon" type="image/x-icon" href="ban.ico">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Responsive website by Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- External stylesheet -->
	<link rel="stylesheet" href="signup.css">

	<!-- Angular  -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

</head>

<body>
	<!-- Navigation Bar -->
	<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbarcontainer container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AntParlor</a>
			</div> 

			<div class="collapse navbar-collapse" id="fake-nav">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#register" v-on:click="open('register', $event)">Register</a></li>
					<li><a href="#login" v-on:click="open('login', $event)">Login</a></li>
					<li><a href="#contactpage" id="clickedContact">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav> -->  

	<!-- Sign up Section -->
	<!-- <header class="signup-caption-section" id="searchbar">
		<div class="container text-center">
			<div class="row">
				<div class="col-sm-12">
					<h1>Welcome to StyleSeat,</h1>
					<h1>let's set up your business.</h1>
					<h3>You must have a Facebook account to sign up :)</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">

				</div>
			</div>
		</div>
	</header>  -->

	<!-- Login/Signup Section https://lukevers.com/2015/08/17/crafting-a-login-modal-with-vuejs -->
	<!-- <div id="fake-nav">  
	  <a href="#register" v-on:click="open('register', $event)">Register</a>
	  <a href="#login" v-on:click="open('login', $event)">Login</a>
	</div>  -->

	<div class="user-modal-container" id="login-modal" v-on:click="close">
		<div class="user-modal">
			<!-- Form Switching -->
			<ul class="form-switcher">  
				<li v-on:click="flip('register', $event)"><a href="" id="register-form">Register</a></li>
				<li v-on:click="flip('login', $event)"><a href="" id="login-form">Login</a></li>
			</ul>  

			<!-- Form Register Fields -->
			<div class="form-register" id="form-register">
			    <div class="error-message" v-text="registerError"></div>  
				<input type="text" name="name" placeholder="Name" v-model="registerName" v-on:keyup="submit('register', $event) | key 'enter'">  
				<input type="email" name="email" placeholder="Email" v-model="registerEmail" v-on:keyup="submit('register', $event) | key 'enter'">  
				<input type="password" name="password" placeholder="Password" v-model="registerPassword" v-on:keyup="submit('register', $event) | key 'enter'">  
				<input type="submit" v-on:click="submit('register', $event)" v-model="registerSubmit" id="registerSubmit">  
				<div class="links">  
					<a href="" v-on:click="flip('login', $event)">Already have an account?</a>
				</div>  
			</div>

			<!-- Form Register Fields -->
		    <div class="form-login" id="form-login">
		    	<div class="error-message" v-text="loginError"></div>  
				<input type="text" name="user" placeholder="Email or Username" v-model="loginUser" v-on:keyup="submit('login', $event) | key 'enter'">  
				<input type="password" name="password" placeholder="Password" v-model="loginPassword" v-on:keyup="submit('login', $event) | key 'enter'">  
				<input type="submit" v-on:click="submit('login', $event)" v-model="loginSubmit"  id="loginSubmit">  
				<div class="links">  
					<a href="" v-on:click="flip('password', $event)">Forgot your password?</a>
				</div>  
		    </div>
		    
		    <!-- Form Password Fields -->
		    <div class="form-password" id="form-password">
		    	<div class="error-message" v-text="passwordError"></div>  
				<input type="text" name="email" placeholder="Email" v-model="passwordEmail" v-on:keyup="submit('password', $event) | key 'enter'">  
				<input type="submit" v-on:click="submit('password', $event)" v-model="passwordSubmit" id="passwordSubmit">  
		    </div>   	
		</div>  
	</div> 

	
	<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>

	<!-- For Facebook login -->
	<!-- https://www.youtube.com/watch?v=x_gLILTRD_k -->
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '527924507594555',
	      cookie     : true,
	      xfbml      : true,
	      version    : 'v2.12'
	    });

	    FB.getLoginStatus(function(response) {
		    if (response.status === 'connected'){
		    	document.getElementById('status').innerHTML = "We are connected"
		    } else if (response.status === 'not_authorized') {
		    	document.getElementById('status').innerHTML = "We are not logged in"
		    } else {
		    	document.getElementById('status').innerHTML = "We are not logged into Facebook"
		    }
		});
	      
	    //FB.AppEvents.logPageView();   
	      
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

	  function login() {
	  	FB.login(function(response)) {
	  		if (response.status === 'connected'){
		    	document.getElementById('status').innerHTML = "We are connected"
		    } else if (response.status === 'not_authorized') {
		    	document.getElementById('status').innerHTML = "We are not logged in"
		    } else {
		    	document.getElementById('status').innerHTML = "We are not logged into Facebook"
		    }
	  	}};
	  }
	</script>

	<div id="status"></div>
	<button onclick="login()">Login</button>


 

</body>

<!-- JavaScript / Vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="signup.js"></script>


</html>