/*NAV BAR*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin-bottom: 0;
    border-radius: 0;
    padding: 1% 0;
    border:0;
    letter-spacing: 0.1em;
    position: relative;
}

/*AntParlor Logo*/
.navbar .navbarcontainer .navbar-header .navbar-brand {
    /*position: absolute;*/
    font-family: "Vidaloka";
    /*top: 22px;*/
    /*left: 37px;*/
    /*margin: -0;*/
    width: 126px;
    height: 33px;
    font-size: 30px;
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}


/*.signup-caption{
	display: block;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/

/*WHOLE CONTAINER SECTION*/

.user-modal-container * {
  box-sizing: border-box;
}

.user-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow-y: auto;
  z-index: 3;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  background-color: rgba(17,17,17,.9);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.user-modal-container.active {
  opacity: 1;
  visibility: visible;
}

.user-modal-container .user-modal {
  position: relative;
  margin: 50px auto;
  width: 90%;
  max-width: 500px;
  background-color: #f6f6f6;
  cursor: initial;
}

/* LOGIN/SIGNUP FORM SECTION (BOXES) */

.user-modal-container .form-login, .user-modal-container .form-register, .user-modal-container .form-password {
    padding: 75px 25px 25px;
    display: none;
}
.user-modal-container .form-login.active, .user-modal-container .form-register.active, .user-modal-container .form-password.active {
    display: block;
}
.user-modal-container ul.form-switcher {
    margin: 0;
    padding: 0;
}
.user-modal-container ul.form-switcher li {
    list-style: none;
    display: inline-block;
    width: 50%;
    float: left;
    margin: 0;
}
.user-modal-container ul.form-switcher li a {
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #666666;
    background-color: #dddddd;
    text-align: center;
}
.user-modal-container ul.form-switcher li a.active {
    color: #000000;
    background-color: #f6f6f6;
}

/* LOGIN/SIGNUP FORM SECTION (FORM INPUT LAYOUT) */
.user-modal-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #eeeeee;
}

.user-modal-container input[type="submit"] {
  color: #f6f6f6;
  border: 0;
  margin-bottom: 0;
  background-color: #3fb67b;
  cursor: pointer;
}

.user-modal-container input[type="submit"]:hover {
  background-color: #3aa771;
}

.user-modal-container input[type="submit"]:active {
  background-color: #379d6b;
}

.user-modal-container .links {
  text-align: center;
  padding-top: 25px;
}

.user-modal-container .links a {
  color: #3fb67b;
}

