/*NAV BAR*/
.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #333;
    margin-bottom: 0;
    border-radius: 0;
    padding: 1% 0;
    border:0;
    letter-spacing: 0.1em;
    position: relative;
}

/*AntParlor Logo*/
.navbar .navbarcontainer .navbar-header .navbar-brand {
    /*position: absolute;*/
    font-family: "Vidaloka";
    /*top: 22px;*/
    /*left: 37px;*/
    /*margin: -0;*/
    width: 126px;
    height: 33px;
    font-size: 30px;
    color: black;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}


/*.signup-caption{
	display: block;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/

.user-modal-container * {
  box-sizing: border-box;
}

.user-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow-y: auto;
  z-index: 3;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  background-color: rgba(17,17,17,.9);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.user-modal-container.active {
  opacity: 1;
  visibility: visible;
}



